.notification.dropdown-item {
  border-bottom: 1px solid rgba(12, 8, 8, 0.418);
}
.notification.dropdown-item:last-of-type {
  border: none;
}
.notification.dropdown-item:hover {
  background: #e0e0e0;
}
