.notifications .dropdown-menu {
  transform: translateX(-100%);
  border: 1px solid rgba(12, 8, 8, 0.418);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.75s ease-in-out;
}

.notifications .dropdown-trigger {
  position: relative;
  cursor: pointer;
}

.notifications .notifications-count {
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: 500;
  font-size: 0.75rem;
  width: 28px;
  height: 28px;
  display: inline-block;
  text-align: center;
  padding-top: 4px;
  position: absolute;
  top: -15px;
  left: 9px;
  border-style: solid;
  border-width: 2px;
}
