form.loginForm {
  max-width: 400px;
  width: 100vw;
  margin: auto;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fff;
}

form.loginForm {
  width: 100%;
}

form.loginForm hr {
  border-top: 1px solid black;
  border-bottom: none;
}
