.modal-content {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 101;
  margin: 0;
  transition: all 0.8s ease;
  opacity: 0;
  transform: translateY(-30px);
}
.modal-content.show {
  opacity: 1;
  transform: translateY(0);
}

.modal-content .box {
  margin: auto;
  max-width: 600px;
}

.modal-background {
  z-index: 100;
}
